@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';
@use 'variables' as SilvershadeVariables;
@use 'functions' as SilvershadeFunctions;

/// Mixin to cut corners of an element using a `clip-path` polygon.
/// This mixin allows you to cut corners of an element in a polygonal shape.
///
/// @param {map} $values - A map containing the corner values (`top-left`, `top-right`, `bottom-right`, `bottom-left`).
/// @param {string|null} $symmetry - Optional parameter to define the symmetry of the corners (e.g., `horizontal`, `vertical`).
/// @throws {Error} If an invalid symmetry is provided.
@mixin corners-cut($values, $symmetry: null) {
    $corners: $values;

    @if null != $symmetry {
        $corners: SilvershadeFunctions.corners-cut-symmetry($values, $symmetry);
    }

    $top-left: map.get($corners, top-left, 0);
    $top-right: map.get($corners, top-right, 0);
    $bottom-right: map.get($corners, bottom-right, 0);
    $bottom-left: map.get($corners, bottom-left, 0);

    // prettier-ignore
    clip-path: polygon(
        0 #{SilvershadeFunctions.px-to-rem($top-left, (force-zero-rem: true))},
        #{SilvershadeFunctions.px-to-rem($top-left, (force-zero-rem: true))} 0,
        calc(100% - #{SilvershadeFunctions.px-to-rem($top-right, (force-zero-rem: true))}) 0,
        100% #{SilvershadeFunctions.px-to-rem($top-right, (force-zero-rem: true))},
        100% calc(100% - #{SilvershadeFunctions.px-to-rem($bottom-right, (force-zero-rem: true))}),
        calc(100% - #{SilvershadeFunctions.px-to-rem($bottom-right, (force-zero-rem: true))}) 100%,
        #{SilvershadeFunctions.px-to-rem($bottom-left, (force-zero-rem: true))} 100%,
        0 calc(100% - #{SilvershadeFunctions.px-to-rem($bottom-left, (force-zero-rem: true))})
    );
}

/// Mixin to add elevation (box-shadow) to an element.
/// This mixin applies a box-shadow based on the given elevation level and color.
///
/// @param {number} $elevation - The elevation level (0 or higher).
/// @param {color} $color - The shadow color (default: `#000`).
@mixin elevation($elevation: 0, $color: #000) {
    box-shadow:
        SilvershadeFunctions.px-to-rem(SilvershadeFunctions.get-elevation-value($elevation, 1, 'size'))
            SilvershadeFunctions.color-alpha($color, SilvershadeFunctions.get-elevation-value($elevation, 1, 'alpha')),
        SilvershadeFunctions.px-to-rem(SilvershadeFunctions.get-elevation-value($elevation, 2, 'size'))
            SilvershadeFunctions.color-alpha($color, SilvershadeFunctions.get-elevation-value($elevation, 2, 'alpha')),
        SilvershadeFunctions.px-to-rem(SilvershadeFunctions.get-elevation-value($elevation, 3, 'size'))
            SilvershadeFunctions.color-alpha($color, SilvershadeFunctions.get-elevation-value($elevation, 3, 'alpha'));
}

/// Mixin to handle media queries based on breakpoints and orientation.
/// This mixin generates media queries for responsive design based on breakpoints.
///
/// @param {string|null} $key - A specific breakpoint key to target (optional).
/// @param {string|null} $orientation - The orientation (e.g., `portrait`, `landscape`).
/// @param {string} $range - Range type (e.g., `min`, `max`, `both`).
@mixin media-queries($key: null, $orientation: null, $range: min) {
    // prettier-ignore
    @if $orientation != null and not map.has-key(SilvershadeVariables.$breakpoints, $orientation) {
        @error "Orientation '#{$orientation}' not available. Use 'landscape' or 'portrait'.";
    }

    $breakpoints: if(
        null != $orientation,
        map.get(SilvershadeVariables.$breakpoints, $orientation),
        SilvershadeVariables.$breakpoints
    );

    // Parcours des breakpoints pour chaque orientation
    @if null != $orientation {
        @each $currentKey, $config in $breakpoints {
            @if null != $key {
                @if $currentKey == $key {
                    @include generate-media-query($config, $orientation, $range) {
                        @content;
                    }
                }
            } @else {
                @include generate-media-query($config, $orientation, $range) {
                    @content;
                }
            }
        }
    } @else {
        @each $direction, $sizes in $breakpoints {
            @each $currentKey, $config in $sizes {
                @if null != $key {
                    @if $currentKey == $key {
                        @include generate-media-query($config, $direction, $range) {
                            @content;
                        }
                    }
                } @else {
                    @include generate-media-query($config, $direction, $range) {
                        @content;
                    }
                }
            }
        }
    }
}

/// Helper mixin to generate a media query.
/// This mixin is used to wrap content inside a media query based on breakpoints and orientation.
///
/// @param {map} $config - The breakpoint configuration map (includes `min-width` and `max-width`).
/// @param {string} $direction - Orientation type (`portrait`, `landscape`).
/// @param {string} $range - The range type (`min`, `max`, `both`).
/// @content - Content to be wrapped inside the media query.
@mixin generate-media-query($config, $direction, $range) {
    $media-query: '';

    @if 'min' == $range or 'both' == $range {
        $min-width: SilvershadeFunctions.px-to-rem(map.get($config, min-width));
        $media-query: '#{$media-query} (min-width: #{$min-width})';
    }

    @if 'max' == $range or 'both' == $range {
        @if '' != $media-query {
            $media-query: '#{$media-query} and ';
        }

        $max-width: SilvershadeFunctions.px-to-rem(map.get($config, max-width));
        $media-query: '#{$media-query}(max-width: #{$max-width})';
    }

    $media-query: '#{$media-query} and (orientation: #{$direction})';

    @media #{$media-query} {
        @content;
    }
}

/// Mixin to apply a specific shape to an element using border-radius.
/// This mixin allows you to apply different shapes (e.g., circle, rounded) to elements.
///
/// @param {string} $shape - The shape name (e.g., `circle`, `rounded`).
/// @param {string|null} $cornerOrSide - A specific corner or side to apply the shape (optional).
/// @throws {Error} If an invalid corner or side is provided.
@mixin shape($shape, $cornerOrSide: null) {
    $radius: if(
        map.has-key(SilvershadeVariables.$shape-radius, $shape),
        map.get(SilvershadeVariables.$shape-radius, $shape),
        $shape
    );

    @if '%' != math.unit($radius) {
        $radius: SilvershadeFunctions.px-to-rem($radius);
    }

    $top-left: 0;
    $top-right: 0;
    $bottom-left: 0;
    $bottom-right: 0;

    @if 'top-left' == $cornerOrSide {
        $top-left: $radius;
    } @else if 'top-right' == $cornerOrSide {
        $top-right: $radius;
    } @else if 'bottom-left' == $cornerOrSide {
        $bottom-left: $radius;
    } @else if 'bottom-right' == $cornerOrSide {
        $bottom-right: $radius;
    } @else if 'top' == $cornerOrSide {
        $top-left: $radius;
        $top-right: $radius;
    } @else if 'right' == $cornerOrSide {
        $top-right: $radius;
        $bottom-right: $radius;
    } @else if 'bottom' == $cornerOrSide {
        $bottom-left: $radius;
        $bottom-right: $radius;
    } @else if 'left' == $cornerOrSide {
        $top-left: $radius;
        $bottom-left: $radius;
    } @else if null == $cornerOrSide {
        $top-left: $radius;
        $top-right: $radius;
        $bottom-right: $radius;
        $bottom-left: $radius;
    } @else {
        @error "Invalid direction `#{$cornerOrSide}`. Valid directions are: top, right, bottom, left, top-right, bottom-right, bottom-left, top-left.";
    }

    border-radius: $top-left $top-right $bottom-right $bottom-left;
}

/// Mixin to create a triangle using borders.
/// This mixin creates a triangle shape using CSS borders and can be used for indicators, pointers, etc.
///
/// @param {string} $direction - The triangle direction (e.g., `up`, `right`, `down`, `left`, `top-right`, `bottom-right`, `bottom-left`, `top-left`.
/// @param {number} $size - The size of the triangle in pixels.
/// @param {color} $color - The triangle color (default: `currentColor`).
/// @throws {Error} If an invalid direction is provided.
@mixin triangle($direction, $size, $color: currentColor) {
    width: 0;
    height: 0;

    @if 'up' == $direction {
        border-left: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-right: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-bottom: SilvershadeFunctions.px-to-rem($size) solid $color;
    } @else if 'right' == $direction {
        border-top: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-bottom: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-left: SilvershadeFunctions.px-to-rem($size) solid $color;
    } @else if 'down' == $direction {
        border-left: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-right: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-top: SilvershadeFunctions.px-to-rem($size) solid $color;
    } @else if 'left' == $direction {
        border-top: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-bottom: SilvershadeFunctions.px-to-rem(math.div($size, 2)) solid transparent;
        border-right: SilvershadeFunctions.px-to-rem($size) solid $color;
    } @else if 'top-right' == $direction {
        border-bottom: SilvershadeFunctions.px-to-rem($size) solid $color;
        border-left: SilvershadeFunctions.px-to-rem($size) solid transparent;
    } @else if 'bottom-right' == $direction {
        border-top: SilvershadeFunctions.px-to-rem($size) solid $color;
        border-left: SilvershadeFunctions.px-to-rem($size) solid transparent;
    } @else if 'bottom-left' == $direction {
        border-top: SilvershadeFunctions.px-to-rem($size) solid $color;
        border-right: SilvershadeFunctions.px-to-rem($size) solid transparent;
    } @else if 'top-left' == $direction {
        border-bottom: SilvershadeFunctions.px-to-rem($size) solid $color;
        border-right: SilvershadeFunctions.px-to-rem($size) solid transparent;
    } @else {
        @error "Invalid direction `#{$direction}`. Valid directions are: up, right, down, left, top-right, bottom-right, bottom-left, top-left.";
    }
}

/// Mixin to create a flexible layout using Flexbox.
/// This mixin sets up a flex container with customizable direction, alignment, and wrapping properties.
///
/// @param {string} $direction - Flex direction (e.g., `row`, `column`). Default is `row`.
/// @param {string} $justify - Justification of flex items (e.g., `flex-start`, `center`). Default is `flex-start`.
/// @param {string} $align - Alignment of flex items (e.g., `stretch`, `center`). Default is `stretch`.
/// @param {string} $wrap - Wrapping behavior for flex items (e.g., `nowrap`, `wrap`). Default is `nowrap`.
@mixin flexbox($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: $direction $wrap;
}

/// Mixin to create a responsive grid layout.
/// This mixin generates a grid with customizable columns and gaps, suitable for responsive designs.
///
/// @param {number} $columns - Number of columns (default is `$default-grid-columns`).
/// @param {string|number} $gap - Gap size (default is small spacing using `get-spacing()` function).
@mixin grid($columns: SilvershadeVariables.$default-grid-columns, $gap: SilvershadeFunctions.get-spacing('sm', true)) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: auto;
    gap: SilvershadeFunctions.px-to-rem($gap);
}

/// Mixin to add padding to an element.
/// This mixin sets padding values based on a provided map for each side (top, right, bottom, left).
///
/// @param {map} $spacings - Map with padding values for each side (top, right, bottom, left).
@mixin padding($spacings) {
    $top: map.get($spacings, top, 0);
    $right: map.get($spacings, right, 0);
    $bottom: map.get($spacings, bottom, $top);
    $left: map.get($spacings, left, $right);

    padding: SilvershadeFunctions.px-to-rem($top $right $bottom $left);
}

/// Mixin to generate utility classes for padding and margin based on a given property and value.
/// This mixin creates responsive utility classes for different sides of an element (top, right, bottom, left).
///
/// @param {string} $key - The key for the spacing (e.g., `small`, `medium`, `large`).
/// @param {string|number} $value - The value for the spacing (in pixels, rem, etc.).
/// @param {string} $placeholder - The CSS property for spacing (e.g., `p`, `m`).
/// @param {string} $property - The CSS property for spacing (e.g., `padding`, `margin`).
@mixin generate-spacing-utilities($key, $value, $placeholder, $property) {
    /// Generate the class for all sides (padding or margin)
    %#{$placeholder}-#{$key} {
        #{$property}: SilvershadeFunctions.px-to-rem($value);
    }

    /// Generate the class for the top side (padding-top or margin-top)
    %#{$placeholder}t-#{$key} {
        #{$property}-top: SilvershadeFunctions.px-to-rem($value);
    }

    /// Generate the class for the right side (padding-right or margin-right)
    %#{$placeholder}r-#{$key} {
        #{$property}-right: SilvershadeFunctions.px-to-rem($value);
    }

    /// Generate the class for the bottom side (padding-bottom or margin-bottom)
    %#{$placeholder}b-#{$key} {
        #{$property}-bottom: SilvershadeFunctions.px-to-rem($value);
    }

    /// Generate the class for the left side (padding-left or margin-left)
    %#{$placeholder}l-#{$key} {
        #{$property}-left: SilvershadeFunctions.px-to-rem($value);
    }

    /// Generate the class for vertical sides (top and bottom)
    %#{$placeholder}v-#{$key} {
        #{$property}-top: SilvershadeFunctions.px-to-rem($value);
        #{$property}-bottom: SilvershadeFunctions.px-to-rem($value);
    }

    /// Generate the class for horizontal sides (left and right)
    %#{$placeholder}h-#{$key} {
        #{$property}-right: SilvershadeFunctions.px-to-rem($value);
        #{$property}-left: SilvershadeFunctions.px-to-rem($value);
    }
}

/// Mixin pour exporter les variables CSS
@mixin export-css-variables($data: null) {
    $used-vars: SilvershadeVariables.get-used-variables();

    @at-root {
        :root {
            @include export-breakpoints($used-vars);
            @include export-containers($used-vars);
            @include export-grid($used-vars);
            @include export-spacings($used-vars);
            @include export-typography($used-vars);
            @include export-shapes($used-vars);
            @include export-elevations($used-vars);
            @include export-states($used-vars);
            @include export-opacity($used-vars);
            @include export-colors($used-vars);

            @if null != $data {
                @include export-data($used-vars, $data);
            }
        }
    }
}

@function is-used($var-name, $used-vars) {
    @return list.index($used-vars, $var-name) != null;
}

@mixin export-if-used($var-name, $value, $used-vars) {
    @if is-used($var-name, $used-vars) {
        --#{$var-name}: #{$value};
    }
}

@mixin export-breakpoints($used-vars) {
    @each $orientation, $valueMaps in SilvershadeVariables.$breakpoints {
        @each $keySize, $valueSizes in $valueMaps {
            @each $key, $value in $valueSizes {
                @include export-if-used(
                    'breakpoint-#{$orientation}-#{$keySize}-#{$key}',
                    SilvershadeFunctions.px-to-rem($value),
                    $used-vars
                );
            }
        }
    }
}

@mixin export-containers($used-vars) {
    @each $orientation, $valueMaps in SilvershadeVariables.$containers {
        @each $key, $value in $valueMaps {
            @include export-if-used(
                'container-#{$orientation}-#{$key}',
                SilvershadeFunctions.px-to-rem($value),
                $used-vars
            );
        }
    }
}

@mixin export-grid($used-vars) {
    @for $i from 1 to 13 {
        @include export-if-used('grid-cols-#{$i}', $i, $used-vars);
    }

    @each $orientation, $valueMaps in SilvershadeVariables.$grids {
        @each $keySize, $valueSizes in $valueMaps {
            @each $key, $value in $valueSizes {
                $var-name: 'grid-#{$orientation}-#{$keySize}-#{$key}';
                $var-value: if('gap' == $key, SilvershadeFunctions.px-to-rem($value), $value);

                @include export-if-used($var-name, $var-value, $used-vars);
            }
        }
    }
}

@mixin export-spacings($used-vars) {
    @each $key, $value in SilvershadeVariables.$spacings {
        @include export-if-used('spacing-#{$key}', SilvershadeFunctions.px-to-rem($value), $used-vars);
    }
}

@mixin export-opacity($used-vars) {
    @each $key, $value in SilvershadeVariables.$opacity {
        @include export-if-used('opacity-#{$key}', $value, $used-vars);
    }
}

@mixin export-typography($used-vars) {
    $typography-map: (
        'ff': SilvershadeVariables.$font-family,
        'fw': SilvershadeVariables.$font-weight,
        'fs': SilvershadeVariables.$font-size,
        'lh': SilvershadeVariables.$line-height,
        'ls': SilvershadeVariables.$letter-spacings,
    );

    @each $type, $values in $typography-map {
        @each $key, $value in $values {
            $var-value: if(
                'fs' == $type or 'lh' == $type,
                SilvershadeFunctions.px-to-rem($value),
                $value
            );

            @include export-if-used('typo-#{$type}-#{$key}', $var-value, $used-vars);
        }
    }

    @each $key, $valueMaps in SilvershadeVariables.$font-size-fluid {
        $var-name: 'font-size-fluid-#{$key}';
        $var-value: clamp(
            #{SilvershadeFunctions.px-to-rem(map.get($valueMaps, min))},
            #{map.get($valueMaps, fluid)},
            #{SilvershadeFunctions.px-to-rem(map.get($valueMaps, max))}
        );

        @include export-if-used($var-name, $var-value, $used-vars);
    }

    @each $key, $valueMaps in SilvershadeVariables.$headings {
        @each $prop in ('line-height', 'margin', 'padding', 'font-size', 'letter-spacing', 'font-weight') {
            $var-name: 'h#{$key}-#{$prop}';
            $var-value: map.get($valueMaps, $prop);

            @if 'margin' == $prop or 'padding' == $prop {
                $var-value: SilvershadeFunctions.px-to-rem($var-value);
            } @else if 'font-size' == $prop {
                $var-value: var(--font-size-fluid-h#{$key});
            }

            @include export-if-used($var-name, $var-value, $used-vars);
        }
    }
}

@mixin export-shapes($used-vars) {
    @each $key, $value in SilvershadeVariables.$shape-radius {
        $var-value: SilvershadeFunctions.px-to-rem($value);

        @include export-if-used('shape-#{$key}', $var-value, $used-vars);
    }
}

@mixin export-elevations($used-vars) {
    @each $key, $value in SilvershadeVariables.$elevations {
        $var-name: 'elevation-#{$key}';

        @if is-used($var-name, $used-vars) {
            $shadows: ();

            @each $step, $properties in $value {
                $shadows: list.append(
                    $shadows,
                    #{SilvershadeFunctions.px-to-rem(map.get($properties, size))}
                        #{SilvershadeFunctions.color-alpha(map.get($properties, color), map.get($properties, alpha))}
                );
            }

            $combined-shadow: list.join($shadows, (), $separator: comma);

            --#{$var-name}: #{$combined-shadow};
        }
    }
}

@mixin export-states($used-vars) {
    @each $key, $value in SilvershadeVariables.$states {
        @include export-if-used($key, $value, $used-vars);
    }
}

@mixin export-colors($used-vars) {
    @each $key-color, $map-color in SilvershadeVariables.$colors {
        @each $key, $hexa in $map-color {
            $var-name: if('default' == $key, $key-color, '#{$key-color}-#{$key}');

            @if is-used($var-name, $used-vars) {
                --#{$var-name}: #{$hexa};

                @if 1 == string.index(meta.inspect($hexa), '#') and (7 == string.length(meta.inspect($hexa)) or 4 == string.length(meta.inspect($hexa))) {
                    $rgbMap: SilvershadeFunctions.color-rgb($hexa, false);

                    --#{$var-name}-rgb: #{map.get($rgbMap, red)} #{map.get($rgbMap, green)} #{map.get($rgbMap, blue)};
                }
            }
        }
    }
}

@mixin export-data($used-vars, $data) {
    @each $key, $hexa in $data {
        @if is-used($key, $used-vars) {
            --#{$key}: #{$hexa};

            @if 1 == string.index(meta.inspect($hexa), '#') and (7 == string.length(meta.inspect($hexa)) or 4 == string.length(meta.inspect($hexa))) {
                $rgbMap: SilvershadeFunctions.color-rgb($hexa, false);

                --#{$key}-rgb: #{map.get($rgbMap, red)} #{map.get($rgbMap, green)} #{map.get($rgbMap, blue)};
            }
        }
    }
}

/// Mixin to add padding to an element.
@mixin p($key, $direction: null) {
    $value: if(map.has-key(SilvershadeVariables.$spacings, $key), map.get(SilvershadeVariables.$spacings, $key), 0);
    $value: SilvershadeFunctions.px-to-rem($value);

    @if 't' == $direction {
        padding-top: $value;
    } @else if 'r' == $direction {
        padding-right: $value;
    } @else if 'b' == $direction {
        padding-bottom: $value;
    } @else if 'l' == $direction {
        padding-left: $value;
    } @else if 'v' == $direction {
        padding-top: $value;
        padding-bottom: $value;
    } @else if 'h' == $direction {
        padding-right: $value;
        padding-left: $value;
    } @else {
        padding: $value;
    }
}

/// Mixin to add padding to an element.
@mixin m($key, $direction: null) {
    $value: if(map.has-key(SilvershadeVariables.$spacings, $key), map.get(SilvershadeVariables.$spacings, $key), 0);
    $value: SilvershadeFunctions.px-to-rem($value);

    @if 't' == $direction {
        margin-top: $value;
    } @else if 'r' == $direction {
        margin-right: $value;
    } @else if 'b' == $direction {
        margin-bottom: $value;
    } @else if 'l' == $direction {
        margin-left: $value;
    } @else if 'v' == $direction {
        margin-top: $value;
        margin-bottom: $value;
    } @else if 'h' == $direction {
        margin-right: $value;
        margin-left: $value;
    } @else {
        margin: $value;
    }
}
