@use 'sass:map';

/// --------------------------------------------
/// File : _variables.scss
/// Description : Global variables (colors, spacings, typography, breakpoints).
/// --------------------------------------------

/// ========================
/// Breakpoints
/// ========================

/// Defines breakpoints for portrait and landscape orientations.
/// These breakpoints are used to manage responsive layouts across devices.
///
/// The breakpoints are defined for both orientations (landscape and portrait) and consist of:
/// - small, medium, large, etc. for various screen sizes
/// - min-width and max-width in `px` converted to `rem` using the `px-to-rem` function.
$breakpoints: (
    landscape: (
        small: (
            min-width: 426px,
            max-width: 767px,
        ),
        small-tablet: (
            min-width: 768px,
            max-width: 1023px,
        ),
        large-tablet: (
            min-width: 1024px,
            max-width: 1279px,
        ),
        laptop: (
            min-width: 1280px,
            max-width: 1439px,
        ),
        desktop: (
            min-width: 1440px,
            max-width: 1919px,
        ),
        wide-screen: (
            min-width: 1920px,
            max-width: 2560px,
        ),
    ),
    portrait: (
        small: (
            min-width: 321px,
            max-width: 375px,
        ),
        medium: (
            min-width: 376px,
            max-width: 425px,
        ),
        large: (
            min-width: 426px,
            max-width: 767px,
        ),
        small-tablet: (
            min-width: 768px,
            max-width: 1023px,
        ),
        large-tablet: (
            min-width: 1024px,
            max-width: 1279px,
        ),
        laptop: (
            min-width: 1280px,
            max-width: 1439px,
        ),
        desktop: (
            min-width: 1440px,
            max-width: 1919px,
        ),
        wide-screen: (
            min-width: 1920px,
            max-width: 2560px,
        ),
    ),
) !default;

/// ========================
/// Container
/// ========================

/// Maximum widths for containers based on portrait and landscape orientations.
/// Used to control adaptive sizes of main containers.
///
/// Each breakpoint contains a max-width value in `rem` to maintain flexibility across devices.
$containers: (
    landscape: (
        small: 667px,
        small-tablet: 1024px,
        large-tablet: 1366px,
        laptop: 1280px,
        desktop: 1440px,
        wide-screen: 1920px,
    ),
    portrait: (
        small: 320px,
        medium: 375px,
        large: 414px,
        small-tablet: 768px,
        large-tablet: 1024px,
        laptop: 1280px,
        desktop: 1440px,
        wide-screen: 1920px,
    ),
) !default;

/// ========================
/// Grids
/// ========================

/// Default grid
///
/// Defines the default number of columns for the grid system. A 12-column grid is commonly used in responsive design.
$default-grid-columns: 1 !default;

/// CSS grid configuration for each breakpoint.
/// Defines the number of columns and gutter sizes based on orientations and screen sizes.
///
/// Each breakpoint contains:
/// - number of columns (e.g., 2, 3, 4, etc.)
/// - gutter size (spacing between columns) in `rem` units
$grids: (
    landscape: (
        small: (
            columns: 4,
            gutter: 16px,
        ),
        small-tablet: (
            columns: 6,
            gutter: 24px,
        ),
        large-tablet: (
            columns: 8,
            gutter: 32px,
        ),
        laptop: (
            columns: 8,
            gutter: 32px,
        ),
        desktop: (
            columns: 12,
            gutter: 32px,
        ),
        wide-screen: (
            columns: 12,
            gutter: 32px,
        ),
    ),
    portrait: (
        small: (
            columns: 2,
            gutter: 16px,
        ),
        medium: (
            columns: 2,
            gutter: 16px,
        ),
        large: (
            columns: 3,
            gutter: 16px,
        ),
        small-tablet: (
            columns: 4,
            gutter: 24px,
        ),
        large-tablet: (
            columns: 6,
            gutter: 32px,
        ),
        laptop: (
            columns: 8,
            gutter: 32px,
        ),
        desktop: (
            columns: 12,
            gutter: 32px,
        ),
        wide-screen: (
            columns: 12,
            gutter: 32px,
        ),
    ),
) !default;

/// ========================
/// Spacings
/// ========================

/// Defines common spacing values used throughout the design.
/// These are typically applied for margins, paddings, gaps, and other spacing needs.
///
/// Values are stored as `rem` for consistent spacing across devices.
/// The spacing values range from `0px` to larger values like `48px`.
$spacings: (
    0: 0px,
    none: 0px,
    1: 1px,
    2: 2px,
    4: 4px,
    7: 7px,
    8: 8px,
    xs: 8px,
    16: 16px,
    sm: 16px,
    20: 20px,
    22: 22px,
    24: 24px,
    md: 24px,
    32: 32px,
    lg: 32px,
    40: 40px,
    48: 48px,
    xl: 48px,
) !default;

/// ========================
/// Typography
/// ========================

/// Default font-size
///
/// Defines the default font-size.
$default-font-size: 16px !default;

/// Font family map
/// ========================
/// Defines the font families used throughout the design for consistency.
/// - `sans`: Sans-serif fonts
/// - `mono`: Monospaced fonts
$font-family: (
    sans: "'Helvetica Neue', arial, sans-serif,",
    mono: "'Courier New', monospace,",
) !default;

/// Font weight map
/// ========================
/// Defines the font weights for different text elements.
/// - light: 300
/// - base: 400
/// - bold: 700
$font-weight: (
    light: 300,
    base: 400,
    bold: 700,
) !default;

/// Font size map
/// ========================
/// Defines the font sizes for various text elements in `rem` units.
/// The base font size is `16px`, and other sizes are defined relative to it.
$font-size: (
    14: 14px,
    base: 16px,
    16: 16px,
    18: 18px,
    20: 20px,
    22: 22px,
    24: 24px,
    26: 26px,
    28: 28px,
    32: 32px,
    34: 34px,
    36: 36px,
    38: 38px,
    40: 40px,
    42: 42px,
    44: 44px,
    46: 46px,
    48: 48px,
    50: 50px,
    52: 52px,
    54: 54px,
    56: 56px,
    58: 58px,
) !default;

/// Fluid typography
/// ========================
/// Defines the font size that adapts fluidly to the screen size, enabling a scalable design across devices.
/// Uses a `min()` and `max()` function to determine the font size based on the screen's width.
$font-size-fluid: (
    sm: (
        min: map.get($font-size, 14),
        fluid: 1.4vw,
        max: map.get($font-size, base),
    ),
    base: (
        min: map.get($font-size, base),
        fluid: 1.6vw,
        max: map.get($font-size, 18),
    ),
    md: (
        min: map.get($font-size, 18),
        fluid: 2vw,
        max: map.get($font-size, 20),
    ),
    lg: (
        min: map.get($font-size, 20),
        fluid: 2.4vw,
        max: map.get($font-size, 24),
    ),
    xl: (
        min: map.get($font-size, 24),
        fluid: 3vw,
        max: map.get($font-size, 26),
    ),
    h6: (
        min: map.get($font-size, 16),
        fluid: 1.2vw,
        max: map.get($font-size, 20),
    ),
    h5: (
        min: map.get($font-size, 20),
        fluid: 1.5vw,
        max: map.get($font-size, 24),
    ),
    h4: (
        min: map.get($font-size, 24),
        fluid: 2vw,
        max: map.get($font-size, 28),
    ),
    h3: (
        min: map.get($font-size, 28),
        fluid: 2.5vw,
        max: map.get($font-size, 30),
    ),
    h2: (
        min: map.get($font-size, 30),
        fluid: 3vw,
        max: map.get($font-size, 32),
    ),
    h1: (
        min: map.get($font-size, 32),
        fluid: 4vw,
        max: map.get($font-size, 34),
    ),
) !default;

/// Line Heights
/// ========================
/// Defines line heights for various text elements. These are used to ensure appropriate vertical spacing between lines of text.
$line-height: (
    base: 1.2,
    3: 1.3,
    4: 1.4,
    5: 1.5,
    6: 1.6,
) !default;

/// Headings Styles
/// ========================
/// Map defining styles for each heading level (h1 to h6).
/// Includes margins, paddings, line height, font size, weight, and letter spacing.
$headings: (
    1: (
        line-height: map.get($line-height, base),
        margin: 0px 0px 16px 0px,
        padding: 0px,
        size: calculate-fluid-font(
                map.get(map.get($font-size-fluid, h1), min),
                map.get(map.get($font-size-fluid, h1), fluid),
                map.get(map.get($font-size-fluid, h1), max)
            ),
        spacing: -1.5,
        weight: map.get($font-weight, light),
    ),
    2: (
        line-height: map.get($line-height, 3),
        margin: 0px 0px 12px 0px,
        padding: 0px,
        size: calculate-fluid-font(
                map.get(map.get($font-size-fluid, h2), min),
                map.get(map.get($font-size-fluid, h2), fluid),
                map.get(map.get($font-size-fluid, h2), max)
            ),
        spacing: -0.5,
        weight: map.get($font-weight, light),
    ),
    3: (
        line-height: map.get($line-height, 4),
        margin: 0px 0px 8px 0px,
        padding: 0px,
        size: calculate-fluid-font(
                map.get(map.get($font-size-fluid, h3), min),
                map.get(map.get($font-size-fluid, h3), fluid),
                map.get(map.get($font-size-fluid, h3), max)
            ),
        spacing: 0,
        weight: map.get($font-weight, base),
    ),
    4: (
        line-height: map.get($line-height, 5),
        margin: 0px 0px 8px 0px,
        padding: 0px,
        size: calculate-fluid-font(
                map.get(map.get($font-size-fluid, h4), min),
                map.get(map.get($font-size-fluid, h4), fluid),
                map.get(map.get($font-size-fluid, h4), max)
            ),
        spacing: 0.25,
        weight: map.get($font-weight, base),
    ),
    5: (
        line-height: map.get($line-height, 6),
        margin: 0px 0px 6px 0px,
        padding: 0px,
        size: calculate-fluid-font(
                map.get(map.get($font-size-fluid, h5), min),
                map.get(map.get($font-size-fluid, h5), fluid),
                map.get(map.get($font-size-fluid, h5), max)
            ),
        spacing: 0,
        weight: map.get($font-weight, base),
    ),
    6: (
        line-height: map.get($line-height, 6),
        margin: 0px 0px 6px 0px,
        padding: 0px,
        size: calculate-fluid-font(
                map.get(map.get($font-size-fluid, h6), min),
                map.get(map.get($font-size-fluid, h6), fluid),
                map.get(map.get($font-size-fluid, h6), max)
            ),
        spacing: 0.25,
        weight: map.get($font-weight, bold),
    ),
) !default;

/// ========================
/// Shapes
/// ========================
/// Defines border radius for different elements to control their rounded corners.
/// Can be defined in pixels or percentage for circular elements.
$shape-radius: (
    0: 0px,
    1: 4px,
    2: 8px,
    3: 10px,
    4: 16px,
    5: 22px,
    6: 50%,
) !default;

/// ========================
/// Elevations
/// ========================
/// Defines different shadow elevations for various UI components.
/// The `alpha` values control the transparency, and `size` defines the spread and blur of the shadow.
$elevations: (
    0: (
        1: (
            alpha: 0.2,
            size: 0px 0px 0px 0px,
        ),
        2: (
            alpha: 0.14,
            size: 0px 0px 0px 0px,
        ),
        3: (
            alpha: 0.12,
            size: 0px 0px 0px 0px,
        ),
    ),
    1: (
        1: (
            alpha: 0.2,
            size: 0px 2px 1px -1px,
        ),
        2: (
            alpha: 0.14,
            size: 0px 1px 1px 0px,
        ),
        3: (
            alpha: 0.12,
            size: 0px 1px 3px 0px,
        ),
    ),
    2: (
        1: (
            alpha: 0.2,
            size: 0px 3px 3px -2px,
        ),
        2: (
            alpha: 0.14,
            size: 0px 3px 4px 0px,
        ),
        3: (
            alpha: 0.12,
            size: 0px 1px 8px 0px,
        ),
    ),
    3: (
        1: (
            alpha: 0.2,
            size: 0px 3px 5px -1px,
        ),
        2: (
            alpha: 0.14,
            size: 0px 6px 10px 0px,
        ),
        3: (
            alpha: 0.12,
            size: 0px 1px 18px 0px,
        ),
    ),
    4: (
        1: (
            alpha: 0.2,
            size: 0px 5px 5px -3px,
        ),
        2: (
            alpha: 0.14,
            size: 0px 8px 10px 1px,
        ),
        3: (
            alpha: 0.12,
            size: 0px 3px 14px 2px,
        ),
    ),
    5: (
        1: (
            alpha: 0.2,
            size: 0px 7px 8px -4px,
        ),
        2: (
            alpha: 0.14,
            size: 0px 12px 17px 2px,
        ),
        3: (
            alpha: 0.12,
            size: 0px 5px 22px 4px,
        ),
    ),
) !default;

/// ========================
/// Colors
/// ========================
/// Maps or colors with declination, from the material design.
$colors: (
    red: (
        lighten-5: #ffebee,
        lighten-4: #ffcdd2,
        lighten-3: #ef9a9a,
        lighten-2: #e57373,
        lighten-1: #ef5350,
        default: #f44336,
        darken-1: #e53935,
        darken-2: #d32f2f,
        darken-3: #c62828,
        darken-4: #b71c1c,
        accent-1: #ff8a80,
        accent-2: #ff5252,
        accent-3: #ff1744,
        accent-4: #d50000,
    ),
    pink: (
        lighten-5: #fce4ec,
        lighten-4: #f8bbd0,
        lighten-3: #f48fb1,
        lighten-2: #f06292,
        lighten-1: #ec407a,
        default: #e91e63,
        darken-1: #d81b60,
        darken-2: #c2185b,
        darken-3: #ad1457,
        darken-4: #880e4f,
        accent-1: #ff80ab,
        accent-2: #ff4081,
        accent-3: #f50057,
        accent-4: #c51162,
    ),
    purple: (
        lighten-5: #f3e5f5,
        lighten-4: #e1bee7,
        lighten-3: #ce93d8,
        lighten-2: #ba68c8,
        lighten-1: #ab47bc,
        default: #9c27b0,
        darken-1: #8e24aa,
        darken-2: #7b1fa2,
        darken-3: #6a1b9a,
        darken-4: #4a148c,
        accent-1: #ea80fc,
        accent-2: #e040fb,
        accent-3: #d500f9,
        accent-4: #a0f,
    ),
    deep-purple: (
        lighten-5: #ede7f6,
        lighten-4: #d1c4e9,
        lighten-3: #b39ddb,
        lighten-2: #9575cd,
        lighten-1: #7e57c2,
        default: #673ab7,
        darken-1: #5e35b1,
        darken-2: #512da8,
        darken-3: #4527a0,
        darken-4: #311b92,
        accent-1: #b388ff,
        accent-2: #7c4dff,
        accent-3: #651fff,
        accent-4: #6200ea,
    ),
    indigo: (
        lighten-5: #e8eaf6,
        lighten-4: #c5cae9,
        lighten-3: #9fa8da,
        lighten-2: #7986cb,
        lighten-1: #5c6bc0,
        default: #3f51b5,
        darken-1: #3949ab,
        darken-2: #303f9f,
        darken-3: #283593,
        darken-4: #1a237e,
        accent-1: #8c9eff,
        accent-2: #536dfe,
        accent-3: #3d5afe,
        accent-4: #304ffe,
    ),
    blue: (
        lighten-5: #e3f2fd,
        lighten-4: #bbdefb,
        lighten-3: #90caf9,
        lighten-2: #64b5f6,
        lighten-1: #42a5f5,
        default: #2196f3,
        darken-1: #1e88e5,
        darken-2: #1976d2,
        darken-3: #1565c0,
        darken-4: #0d47a1,
        accent-1: #82b1ff,
        accent-2: #448aff,
        accent-3: #2979ff,
        accent-4: #2962ff,
    ),
    light-blue: (
        lighten-5: #e1f5fe,
        lighten-4: #b3e5fc,
        lighten-3: #81d4fa,
        lighten-2: #4fc3f7,
        lighten-1: #29b6f6,
        default: #03a9f4,
        darken-1: #039be5,
        darken-2: #0288d1,
        darken-3: #0277bd,
        darken-4: #01579b,
        accent-1: #80d8ff,
        accent-2: #40c4ff,
        accent-3: #00b0ff,
        accent-4: #0091ea,
    ),
    cyan: (
        lighten-5: #e0f7fa,
        lighten-4: #b2ebf2,
        lighten-3: #80deea,
        lighten-2: #4dd0e1,
        lighten-1: #26c6da,
        default: #00bcd4,
        darken-1: #00acc1,
        darken-2: #0097a7,
        darken-3: #00838f,
        darken-4: #006064,
        accent-1: #84ffff,
        accent-2: #18ffff,
        accent-3: #00e5ff,
        accent-4: #00b8d4,
    ),
    teal: (
        lighten-5: #e0f2f1,
        lighten-4: #b2dfdb,
        lighten-3: #80cbc4,
        lighten-2: #4db6ac,
        lighten-1: #26a69a,
        default: #009688,
        darken-1: #00897b,
        darken-2: #00796b,
        darken-3: #00695c,
        darken-4: #004d40,
        accent-1: #a7ffeb,
        accent-2: #64ffda,
        accent-3: #1de9b6,
        accent-4: #00bfa5,
    ),
    green: (
        lighten-5: #e8f5e9,
        lighten-4: #c8e6c9,
        lighten-3: #a5d6a7,
        lighten-2: #81c784,
        lighten-1: #66bb6a,
        default: #4caf50,
        darken-1: #43a047,
        darken-2: #388e3c,
        darken-3: #2e7d32,
        darken-4: #1b5e20,
        accent-1: #b9f6ca,
        accent-2: #69f0ae,
        accent-3: #00e676,
        accent-4: #00c853,
    ),
    light-green: (
        lighten-5: #f1f8e9,
        lighten-4: #dcedc8,
        lighten-3: #c5e1a5,
        lighten-2: #aed581,
        lighten-1: #9ccc65,
        default: #8bc34a,
        darken-1: #7cb342,
        darken-2: #689f38,
        darken-3: #558b2f,
        darken-4: #33691e,
        accent-1: #ccff90,
        accent-2: #b2ff59,
        accent-3: #76ff03,
        accent-4: #64dd17,
    ),
    lime: (
        lighten-5: #f9fbe7,
        lighten-4: #f0f4c3,
        lighten-3: #e6ee9c,
        lighten-2: #dce775,
        lighten-1: #d4e157,
        default: #cddc39,
        darken-1: #c0ca33,
        darken-2: #afb42b,
        darken-3: #9e9d24,
        darken-4: #827717,
        accent-1: #f4ff81,
        accent-2: #eeff41,
        accent-3: #c6ff00,
        accent-4: #aeea00,
    ),
    yellow: (
        lighten-5: #fffde7,
        lighten-4: #fff9c4,
        lighten-3: #fff59d,
        lighten-2: #fff176,
        lighten-1: #ffee58,
        default: #ffeb3b,
        darken-1: #fdd835,
        darken-2: #fbc02d,
        darken-3: #f9a825,
        darken-4: #f57f17,
        accent-1: #ffff8d,
        accent-2: #ff0,
        accent-3: #ffea00,
        accent-4: #ffd600,
    ),
    amber: (
        lighten-5: #fff8e1,
        lighten-4: #ffecb3,
        lighten-3: #ffe082,
        lighten-2: #ffd54f,
        lighten-1: #ffca28,
        default: #ffc107,
        darken-1: #ffb300,
        darken-2: #ffa000,
        darken-3: #ff8f00,
        darken-4: #ff6f00,
        accent-1: #ffe57f,
        accent-2: #ffd740,
        accent-3: #ffc400,
        accent-4: #ffab00,
    ),
    orange: (
        lighten-5: #fff3e0,
        lighten-4: #ffe0b2,
        lighten-3: #ffcc80,
        lighten-2: #ffb74d,
        lighten-1: #ffa726,
        default: #ff9800,
        darken-1: #fb8c00,
        darken-2: #f57c00,
        darken-3: #ef6c00,
        darken-4: #e65100,
        accent-1: #ffd180,
        accent-2: #ffab40,
        accent-3: #ff9100,
        accent-4: #ff6d00,
    ),
    deep-orange: (
        lighten-5: #fbe9e7,
        lighten-4: #ffccbc,
        lighten-3: #ffab91,
        lighten-2: #ff8a65,
        lighten-1: #ff7043,
        default: #ff5722,
        darken-1: #f4511e,
        darken-2: #e64a19,
        darken-3: #d84315,
        darken-4: #bf360c,
        accent-1: #ff9e80,
        accent-2: #ff6e40,
        accent-3: #ff3d00,
        accent-4: #dd2c00,
    ),
    brown: (
        lighten-5: #efebe9,
        lighten-4: #d7ccc8,
        lighten-3: #bcaaa4,
        lighten-2: #a1887f,
        lighten-1: #8d6e63,
        default: #795548,
        darken-1: #6d4c41,
        darken-2: #5d4037,
        darken-3: #4e342e,
        darken-4: #3e2723,
    ),
    grey: (
        lighten-5: #fafafa,
        lighten-4: #f5f5f5,
        lighten-3: #eee,
        lighten-2: #e0e0e0,
        lighten-1: #bdbdbd,
        default: #9e9e9e,
        darken-1: #757575,
        darken-2: #616161,
        darken-3: #424242,
        darken-4: #212121,
    ),
    blue-grey: (
        lighten-5: #eceff1,
        lighten-4: #cfd8dc,
        lighten-3: #b0bec5,
        lighten-2: #90a4ae,
        lighten-1: #78909c,
        default: #607d8b,
        darken-1: #546e7a,
        darken-2: #455a64,
        darken-3: #37474f,
        darken-4: #263238,
    ),
    black: (
        default: #000,
    ),
    white: (
        default: #fff,
    ),
);
